
<div>
  <div *ngFor="let event of events" class="well hoverwell thumbnail">
    <h2>{{event?.name}}</h2>
    <span [hidden]="displayDetails" ><button (click)="toggleDisplay()" class="btn btn-danger" > Collapse </button></span>
    <span  [hidden]="!displayDetails"><button (click)="toggleDisplay()" class="btn btn-primary">Expand</button></span>
    <div [hidden]="displayDetails">
      <div>Date: {{event.date}}</div>
      <div>Time: {{event.time}}</div>
      <div>Location: {{event?.location?.address}}, {{event?.location?.city}}, {{event?.location?.country}}</div>
    </div>
  </div>
</div>


