<div>
    <h2>All events are displayed below</h2>
    <table>
        <thead>
            <tr>
                <th>Event</th>
                <th>Date</th>
                <th>Time</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let events of events">
                <td>{{events?.name}}</td>
                <td>{{events?.date}}</td>
                <td>{{events?.time}}</td>
                <td> {{events?.location?.address}}{{events?.location?.city}}{{events?.location?.country}}</td>
            </tr>
        </tbody>
    </table>
</div>